In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [2]:
df1 = pd.read_csv("Country-data.csv")
df2 = pd.read_csv("creditcard.csv")

In [3]:
df1.head()

,country,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,Afghanistan,90.2,10.0,7.58,44.9,1610,9.44,56.2,5.82,553
1,Albania,16.6,28.0,6.55,48.6,9930,4.49,76.3,1.65,4090
2,Algeria,27.3,38.4,4.17,31.4,12900,16.10,76.5,2.89,4460
3,Angola,119.0,62.3,2.85,42.9,5900,22.40,60.1,6.16,3530
4,Antigua and Barbuda,10.3,45.5,6.03,58.9,19100,1.44,76.8,2.13,12200

In [4]:
df2.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
np.unique(df2["Class"].values)

array([0, 1], dtype=int64)

In [6]:
df11 = df2[df2.columns[1:]]
df21 = df2[df2.columns[:-1]]

In [7]:

X1 = df11.values
X2 = df21.values

In [8]:

X1.shape, X2.shape

((284807, 30), (284807, 30))

In [9]:
model = KMeans(n_clusters=2, n_init=4, verbose=1, max_iter=3)

In [10]:
model.fit(X1)

Initialization complete
Iteration 0, inertia 9611750054.0127
Iteration 1, inertia 9323296341.117657
Iteration 2, inertia 9131647154.565138
Initialization complete
Iteration 0, inertia 11958425404.269579
Iteration 1, inertia 9758780502.94211
Iteration 2, inertia 9422215057.538664
Initialization complete
Iteration 0, inertia 9313260840.425158
Iteration 1, inertia 8817721106.12007
Iteration 2, inertia 8806820423.7714
Initialization complete
Iteration 0, inertia 9934243836.323029
Iteration 1, inertia 9104587995.433336
Iteration 2, inertia 8962416426.295673

KMeans(max_iter=3, n_clusters=2, n_init=4, verbose=1)

In [11]:
model.cluster_centers_

array([[ 4.57119453e-02,  8.78668520e-02,  3.52509699e-02,
        -1.52889611e-02,  5.05270714e-02, -2.67925340e-02,
        -5.09133639e-02,  1.34764031e-02,  5.00625318e-03,
         1.16081252e-02, -3.20930990e-04,  1.13302082e-03,
         6.00138421e-05, -4.38933241e-03,  9.41220341e-04,
        -6.39886943e-05, -1.12360695e-03, -1.42124152e-03,
         4.39234032e-03, -3.15935789e-02, -8.77184185e-03,
         6.46791098e-03,  7.04935890e-03, -4.32231892e-04,
         2.74307053e-03, -4.67891213e-04, -2.48015236e-04,
        -1.07310005e-03,  6.26246232e+01,  1.68113012e-03],
       [-2.18817309e+00, -4.20607524e+00, -1.68741941e+00,
         7.31863258e-01, -2.41866710e+00,  1.28252477e+00,
         2.43715843e+00, -6.45098395e-01, -2.39643017e-01,
        -5.55666292e-01,  1.53625612e-02, -5.42362758e-02,
        -2.87278683e-03,  2.10111799e-01, -4.50550291e-02,
         3.06305798e-03,  5.37856457e-02,  6.80330368e-02,
        -2.10255784e-01,  1.51234472e+00,  4.19896992e-01,
        -3.09610730e-01, -3.37443908e-01,  2.06903948e-02,
        -1.31307322e-01,  2.23973615e-02,  1.18721762e-02,
         5.13679442e-02,  1.31977269e+03,  3.94646534e-03]])

In [12]:
model.inertia_

8802063542.395975

In [13]:

model = KMeans(n_clusters=2, n_init=4, verbose=1, max_iter=3)
model.fit(X2)

Initialization complete
Iteration 0, inertia 217708749941815.25
Iteration 1, inertia 118352038515027.05
Iteration 2, inertia 118320894657510.75
Converged at iteration 2: center shift 5120.377082733186 within tolerance 7517.262262351321.
Initialization complete
Iteration 0, inertia 169672398003367.8
Iteration 1, inertia 118514831081052.88
Iteration 2, inertia 118321481953829.6
Initialization complete
Iteration 0, inertia 259569258048705.56
Iteration 1, inertia 130453544870130.81
Iteration 2, inertia 118415197552946.25
Initialization complete
Iteration 0, inertia 125615215139328.58
Iteration 1, inertia 118329533382966.56
Iteration 2, inertia 118320216717496.78
Converged at iteration 2: center shift 857.990327435237 within tolerance 7517.262262351321.

KMeans(max_iter=3, n_clusters=2, n_init=4, verbose=1)