In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('movies.csv')

In [3]:
df.corr()

,Audience score %,Profitability,Rotten Tomatoes %,Year
Audience score %,1.000000,0.066278,0.608333,-0.229926
Profitability,0.066278,1.000000,0.042428,-0.182130
Rotten Tomatoes %,0.608333,0.042428,1.000000,-0.093111
Year,-0.229926,-0.182130,-0.093111,1.000000

In [4]:
dt= pd.DataFrame(index=range(0,len(df)), columns=['Audience score %','Rotten Tomatoes %'])
for i in range(0,len(dt)):
  dt['Audience score %'][i]= df['Audience score %'][i]
  dt['Rotten Tomatoes %'][i]= df['Rotten Tomatoes %'] [i]

In [5]:
dt

   Audience score % Rotten Tomatoes %
0                70                64
1                52                68
2                35                43
3                44                15
4                72                28
..              ...               ...
72               84                54
73               64                89
74               89                79
75               71                40
76               81                87

[77 rows x 2 columns]

In [6]:

x = dt['Audience score %']
y= dt['Rotten Tomatoes %']
x=np.array(x)
x=x.reshape(-1,1)
y=np.array(y)
y=y.reshape(-1,1)